$Brightred : hsl(12, 88%, 59%);
$Darkblue : hsl(228, 39%, 23%);
$Darkgrayishblue : hsl(227, 12%, 61%);
$Verydarkblue :  hsl(233, 12%, 13%);
$Verypalered : hsl(13, 100%, 96%);
$Verylightgray : hsl(0, 0%, 98%);


