html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Be Vietnam' , sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  height: 100%;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container__all {
  padding-top: 74px;
  padding-left: 164px;
  padding-right: 164px;
}

@media screen and (max-width: 811px) {
  .container__all {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 45px;
  }
}

.container__x {
  padding-bottom: 0px;
  padding-top: 74px;
  padding-right: 164px;
  padding-left: 164px;
}

@media screen and (max-width: 811px) {
  .container__x {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 0px;
  }
}

.container__last {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 164px;
  padding-left: 164px;
}

@media screen and (max-width: 811px) {
  .container__last {
    padding-top: 50px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 29px;
  }
}

.button {
  color: #fff;
  background: #f25f3a;
  padding: 16px 34px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
}

.header::before {
  content: "";
  background-size: 52%;
  background-image: url("./bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 115% -35%;
  position: absolute;
  height: 800%;
  width: 100%;
}

@media screen and (max-width: 376px) {
  .header::before {
    height: 799%;
    width: 136%;
    background-size: 94%;
  }
}

.header.open {
  position: relative;
}

.header.open .overlay {
  z-index: 2;
  display: block;
}

.header.open .header__toggle {
  position: relative;
  z-index: 2;
}

.header.open .header__toggle span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.header.open .header__toggle span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.header.open .header__menu {
  position: absolute;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin-top: 3rem;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header.open .header__menu a {
  font-size: 15px;
  font-weight: 700;
  color: #1d1e25;
  margin-bottom: 35px;
}

.header.open .header__menu a:first-child {
  margin-top: 45px;
}

.header .overlay {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#242d52), to(transparent));
  background-image: linear-gradient(to bottom, #242d52, transparent);
}

.header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header__logo img {
  width: 145px;
  height: 25px;
}

@media screen and (max-width: 376px) {
  .header__logo img {
    width: 110px;
    height: 18px;
  }
}

.header__text {
  padding-bottom: 8px;
}

.header__text a {
  color: #1d1e25;
  font-size: 13px;
}

.header__text a:not(:last-child) {
  margin-right: 32px;
}

.header__text a:hover {
  color: #9095a7;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.header__toggle {
  margin-bottom: 8.5px;
}

.header__toggle span {
  display: block;
  background-color: #1d1e25;
  height: 4px;
  width: 26px;
  -webkit-transform-origin: 3.3px 2.9px;
          transform-origin: 3.3px 2.9px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__toggle span:not(:last-child) {
  margin-bottom: 3px;
}

.hero {
  position: relative;
  min-height: 93vh;
}

@media screen and (max-width: 376px) {
  .hero {
    min-height: 115vh;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__text {
  text-align: left;
  position: relative;
}

@media screen and (max-width: 1025px) {
  .hero__text {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero__text h1 {
  font-size: 52px;
  color: #242d52;
  font-weight: 700;
  width: 90%;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 1025px) {
  .hero__text h1 {
    width: 100%;
    font-size: 38px;
  }
}

@media screen and (max-width: 1325px) {
  .hero__text h1 {
    width: 100%;
    font-size: 40px;
  }
}

.hero__text p {
  color: #9095a7;
  font-size: 15px;
  font-weight: 400;
  max-width: 50%;
  margin-bottom: 45px;
  position: relative;
}

@media screen and (max-width: 1025px) {
  .hero__text p {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #9095a7;
  }
}

.hero__image {
  position: relative;
}

.hero__image img {
  position: relative;
}

@media screen and (max-width: 1025px) {
  .hero__image img {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 1125px) {
  .hero__image img {
    width: 390px;
    height: 400px;
  }
}

.hero__cta {
  position: relative;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 110px;
}

@media screen and (max-width: 1025px) {
  .product__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .product__manage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product__manage h1 {
  color: #242d52;
  font-size: 38px;
  font-weight: 700;
  max-width: 80%;
}

@media screen and (max-width: 1025px) {
  .product__manage h1 {
    font-size: 32px;
  }
}

.product__manage p {
  font-size: 20px;
  color: #9095a7;
  font-weight: 300;
  max-width: 70%;
}

@media screen and (max-width: 1025px) {
  .product__manage p {
    font-size: 18px;
    max-width: 100%;
    margin: 0px;
  }
}

.product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  padding-top: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
}

@media screen and (max-width: 1025px) {
  .product__number {
    gap: 10px;
  }
}

.product__number h4 {
  color: #fff;
  font-size: 14px;
  background: #f25f3a;
  padding: 10px 23px;
  border-radius: 50px;
  position: relative;
}

@media screen and (max-width: 1025px) {
  .product__number h4::before {
    content: "";
    background: #f25f3a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 47px;
    width: 1000%;
    height: 100%;
    top: 0px;
    opacity: 0.25;
  }
}

.product__number h6 {
  font-size: 15px;
  position: relative;
  color: darkblue;
  font-weight: 700;
}

@media screen and (max-width: 1025px) {
  .product__number h6 {
    font-size: 14px;
  }
}

.product__information {
  position: relative;
}

.product__information p {
  padding-left: 91px;
  color: #9095a7;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

@media screen and (max-width: 1025px) {
  .product__information p {
    padding-left: 0px;
    font-size: 14px;
    max-width: 95%;
  }
}

.comments {
  position: relative;
}

.comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__title {
  margin-top: 159px;
  font-size: 25px;
  color: #242d52;
  font-weight: 700;
}

@media screen and (max-width: 376px) {
  .comments__title {
    margin-top: 19px;
  }
}

.comments__images {
  margin-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  min-width: 110rem;
  position: absolute;
  top: 277px;
}

@media screen and (max-width: 376px) {
  .comments__images {
    min-width: 65rem;
    top: 107px;
  }
}

.comments__perspective {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f1f0f0;
  border-radius: 10px;
  padding-top: 65px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
  border: none;
  outline: none;
}

.comments__perspective img {
  position: absolute;
  width: 73px;
  height: 73px;
  top: -30px;
}

.comments__perspective h3 {
  font-size: 15px;
  color: #242d52;
  font-weight: 700;
}

.comments__perspective p {
  font-size: 14px;
  color: #9095a7;
  font-weight: 500;
  max-width: 80%;
}

@media screen and (max-width: 376px) {
  .comments__perspective p {
    max-width: 100%;
    font-size: 13.5px;
  }
}

@media screen and (max-width: 376px) {
  .comments__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3px;
  }
  .comments__dots span {
    padding: 2.7px;
    border: 1px solid;
    border-color: #f25f3a;
    margin-top: 350px;
    border-radius: 50px;
  }
  .comments__dots span:nth-child(2) {
    background: #f25f3a;
  }
}

.comments__cta {
  margin-top: 345px;
  cursor: pointer;
}

@media screen and (max-width: 376px) {
  .comments__cta {
    margin-top: 42px;
  }
}

.team {
  margin-top: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__flex {
  padding-left: 164px;
  padding-right: 164px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f25f3a;
  background: #f25f3a;
  padding-top: 103px;
  padding-bottom: 90px;
}

@media screen and (max-width: 1017px) {
  .team__flex {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .team__flex::before {
    content: "";
    position: absolute;
    background-image: url("./bg-tablet-pattern2.svg");
    background-repeat: no-repeat;
    background-size: 93%;
    color: #ff723e;
    width: 35%;
    height: 96%;
  }
  .team__flex::after {
    content: "";
    position: absolute;
    background-image: url("./bg-tablet-pattern2.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 117% 174%;
    color: #fd7a4b;
    width: 93%;
    height: 105%;
  }
}

.team__title {
  position: relative;
}

@media screen and (max-width: 376px) {
  .team__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.team__title h1 {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  margin: 0px;
  max-width: 90%;
}

@media screen and (max-width: 1017px) {
  .team__title h1 {
    font-size: 34px;
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 25px;
    width: 100%;
  }
}

.team__cta {
  position: relative;
  background-color: #fafafa;
  color: #f25f3a;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
  white-space: pre;
}

.mobile-footer__content {
  background: #1d1e25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-footer__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-bottom: 60px;
}

.mobile-footer .update {
  padding-left: 25px;
  padding-right: 74px;
  padding-top: 16px;
  padding-bottom: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 13px;
}

.mobile-footer .email__cta {
  border: none;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 19px;
  padding-bottom: 15px;
  font-size: 13px;
  margin-top: 10px;
}

.mobile-footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-bottom: 54px;
}

.mobile-footer__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 5px;
}

.mobile-footer__parts a {
  font-size: 14px;
  color: #fafafa;
}

.mobile-footer__parts a:hover {
  color: #f25f3a;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.mobile-footer__parts2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 11.7px;
  padding-bottom: 4px;
}

.mobile-footer__parts2 a {
  font-size: 14px;
  color: #fafafa;
}

.mobile-footer__parts2 a:hover {
  color: #f25f3a;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.mobile-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  margin-bottom: 42px;
}

.mobile-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}

.mobile-footer__copyright {
  color: #9095a7;
  font-size: 13px;
}

.footer__content {
  background: #1d1e25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 376px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  width: 146px;
  height: 25px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}

.footer__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__parts a {
  font-size: 14px;
  color: #fafafa;
}

.footer__parts a:hover {
  color: #f25f3a;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.footer__parts2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 11.7px;
}

.footer__parts2 a {
  font-size: 14px;
  color: #fafafa;
}

.footer__parts2 a:hover {
  color: #f25f3a;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.footer__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  gap: 40px;
}

.footer .update {
  padding-left: 17px;
  padding-right: 42px;
  padding-top: 16px;
  padding-bottom: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 13px;
}

.footer .email__cta {
  border: none;
  outline: none;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 19px;
  padding-bottom: 15px;
  font-size: 13px;
}

@media screen and (max-width: 400px) {
  .footer .email__cta {
    margin-top: 10px;
  }
}

.footer__copyright {
  color: #9095a7;
  font-size: 13px;
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}
/*# sourceMappingURL=style.css.map */